<div class="text-center">
    <H3>order 06.04.2023</H3>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <form>
                <div>
                    <iframe width="100%" height="650px"
                        src="https://shopeefood.vn/ho-chi-minh/milano-coffee-le-dai-hanh"></iframe>
                </div>

            </form>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Order</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>viet.phanq1</td>
                    <td>Combo 3 Cà phê sữa tươi + bạc xỉu</td>
                    <td>50.000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>linh.nguyentn3</td>
                    <td>Combo 3 Cà phê sữa tươi + bạc xỉu</td>
                    <td>50.000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>linh.nguyentn3</td>
                    <td>Combo 3 Cà phê sữa tươi </td>
                    <td>30.000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>linh.nguyentn3</td>
                    <td>Combo 3 Cà phê sữa tươi </td>
                    <td>30.000</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>

    </div>
</div>